- books.each_slice(3) do |slice|
  .row
    - slice.each do |book|
      .col-md-4
        .thumbnail
          =link_to book_path(book) do
            =image_tag Faker::Placeholdit.image('140x200', 'jpg')
          .caption
            %h4= book.title
            %h5= book.author
            %p RAITINGS dasdasda
            %h4.pull-right
              %strike= number_to_currency book.price
            %h3= number_to_currency book.price
            %h5{style: "margin-top:0; color:red"} Save 0$

            =link_to add_book_cart_path(book_id: book.id) , method: :post, class: "btn btn-primary" do
              =fa_icon "shopping-cart",text: "Add to cart"
