// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.container#main {
    // background-color: #2c3e50;
    margin-top: 20px;
}
#book-info-top {
  border:0px solid gray;
}
.title-attr {
  color: #949a9d;
}



.margin-bottom{
  margin-bottom: 15px
}

.margin-top{
  margin-top: 15px
}


.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}




// review form
.status-upload  {
border: medium none;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
-ms-border-radius: 4px 4px 0 0;
-o-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
font-family: Lato;
font-size: 14px;
letter-spacing: 0.3px;
padding: 20px;
width: 100%;
resize:vertical;
outline:none;
border: 1px solid #F2F2F2;
margin-bottom: 20px;
}
.status-upload form textarea {
  height: 142px;
}

// Rating

div.star-con {
  width: 100%  ;
  display: inline-block;
}
div.stars {
  width: 384px  ;
  margin: auto;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label {
  background:  #f0ad4e;
}
input.star:checked ~ label {
  color:  #fff;
}

// /* Profile container */
// .profile {
//   margin: 20px 0;
// }
//
// /* Profile sidebar */
// .profile-sidebar {
//   padding: 20px 0 10px 0;
//   background: #fff;
// }
.profile-margin{
padding:0 0 0 15px;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-usermenu {
  margin-top: 30px;
  padding:0px !important;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* order Content */
.profile-content {
  padding: 20px;
  background: #F6F9FB;
  min-height: 460px;
}
