// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.container#main {
    // background-color: #2c3e50;
    margin-top: 20px;
}
#book-info-top {
  border:0px solid gray;
}
.title-attr {
  color: #949a9d;
}



.margin-bottom{
  margin-bottom: 15px
}

.margin-top{
  margin-top: 15px
}


.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}




// review form
.status-upload  {
border: medium none;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
-ms-border-radius: 4px 4px 0 0;
-o-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
font-family: Lato;
font-size: 14px;
letter-spacing: 0.3px;
padding: 20px;
width: 100%;
resize:vertical;
outline:none;
border: 1px solid #F2F2F2;
margin-bottom: 20px;
}
.status-upload form textarea {
  height: 142px;
}

// Rating

div.star-con {
  width: 100%  ;
  display: inline-block;
}
div.stars {
  width: 384px  ;
  margin: auto;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label {
  background:  #f0ad4e;
  // transition: all .25s;
}
input.star:checked ~ label {
  color:  #fff;
}

// input.star-5:checked ~ label.star:before {
//   color: #FE7;
//   text-shadow: 0 0 20px #952;
// }

// input.star-1:checked ~ label.star:before { color: #F62; }

// label.star:hover { transform: rotate(-15deg) scale(1.3); }
