.list-group
  =link_to "Profile",edit_user_registration_path(current_user), class: "list-group-item #{active?(edit_user_registration_path(current_user))}"
  =link_to "Address settings", new_address_path(current_user), class: "list-group-item #{active?(new_address_path(current_user)) || active?(edit_address_path(current_user))}"
